@import './common';
.main{
  width: 100%;
  height: 100%;
  background:$bg-color;
  border-radius: 20px;
}
header{
  .inner{
    position: relative;
    height: 70px;
    .info-box{
      width: calc(100% - 70px);
      height: 100%;
      padding: 5px 0 0 35px;
      text-align: center;
      color: #fff;
      font-size: 13px;
      .loc {
        position: relative;
        display: inline-block;
        padding: 5px 0;
        margin-left: 11px;
        font-size: 27px;
        text-align: center;
        letter-spacing: -1px;
        .ico-map{
          position: relative;
          padding-right: 10px;
        }
      }
      .day{
        padding-left: 35px;
        font-size: 13px;
        text-align: center;
        text-shadow: none;
      }
    }
    .btn-setting-menu{
      @include posCenter(18px,14px,auto,auto,absolute);
      // position: absolute;
      // top: 18px;
      // right: 14px;
      width: 34px;
      height: 20px;
      span{
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 6px;
        background: #fff;
      }
    }
  }
}
.main-widget{
  @include posCenter(50%,30%,auto,auto,absolute);
    // position: absolute;
    // top: 50%;
    // left: 30%;
    margin-top: -70px;
    align-items: center;
    font-size: 28px;
    color: #fff;
    text-align: center;
  &.on{
    .temp{
      transform: scale(0.7);
      margin: -27px 0 0 -30px;
    }

  }
  .ico-sun{
    padding-left: 9px;
    font-size: 40px;
    vertical-align: sub;
  }
  .temp{
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    transition: all .5s;
    span{
      vertical-align: text-top;
      font-size: 40px;
    }
  }
}